
/*/body{
  background-image: url('../Images/mapa1.jpg');*/
  body{
  background-image: url("../Images/bolamundo.jpeg");

     /* Full height */

     /* Center and scale the image nicely */
     background-position: top;
     background-repeat: no-repeat;
     background-size: cover;

     :
   }
h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white
}

h2{
  color: white
}
p{
color: white
}
table{
  color: white
}
#mifoto{
  margin-left:1%;
}
