
.header{
  background-color: $primary-background-color;
  width: 100%;
  position: relative;
  color: #207954;
  font-weight: bold;
}

.header-content{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid $border-color;
}
