*{box-sizing: border-box;
}
.fondo {
margin: 0,0;
}

h1 {
  font-size: 50px;
  text-align: center;
  position: relative;
  z-index: 2;
}
body
{
background-color:#E0F2F1 ;
font-size: 20px;
color: #004D40;
font-weight: bold;
font-family: 'Rubik', sans-serif;
}
#mifoto{
  margin-left: 40%;
  width: 250px;
}
.lista1{
  list-style-type:square;
  margin-left: 43%;
}
.lista2{
  text-align: center;
}
.iconos{
  display: inline;
}
.logotelefonica{
  margin-left: 73%;
}
.logoadalab{
  margin-left: auto;
}
a:hover{
  background-color: #fabada;
}
