
.btn-menu{
  border: none;
  background-color: transparent;
  padding: 8px;
  width: 80px;
  outline: none;
  cursor:pointer;
}

.btn-menu-icon{
  max-width: 100%;
}

.back-home{
border-radius: 8%;
padding: 2px;
background-color: #BAF4DB;
margin-right: 40px;
}

.home-img{
width: 50px;
}

@media (min-width: $max-screen-size-tablet) {
  .btn-menu{
    display: none;
  }
}
