
.nav{
  display: none;
}

.nav-small{
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  background-color: inherit;
  position: absolute;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  top: 100%;
}

.nav a,
.nav-small a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1B6A49;
  width: 100%;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 10px;
}

.nav-small li{
  border-bottom: 1px solid $border-color;
}

.nav-small-item:last-child{
  border-bottom: none;
}

@media (min-width: $max-screen-size-tablet) {

  .nav{
    display: flex;
    list-style: none;
  }
}
