$border-color: white;
$primary-font-color: white;
$secundary-font-color: #BAF4DB;
$primary-background-color: #6b8565;
$font-shadow-color:rgba(0, 0, 0, 0.25);
$max-screen-size-tablet: 768px;
$max-screen-size-laptop: 1024px;
